<h2>マイ投稿一覧</h2>
<h3><%= current_user.name %></h3>
<%= link_to "新規投稿", new_menu_path %>
<%= link_to "みんなの献立", search_path %>
<%= link_to "いいねした投稿", user_likes_path(current_user.id) %>

<% @menus.each do |menu| %>
  <div>
    <p>ユーザー名：<%= menu.user.name %></p>
    <%= link_to menu_path(menu.id) do %>
      <%= attachment_image_tag(menu, :image, size: "200x200") %><br>
    <% end %>
    <p>本文：<%= menu.body %></p>
    <p>
      推定摂取カロリー：<em>（<%= menu.estimation_ingestion_cal %> kcal）</em>
    </p>
    <p>献立名：<%= menu.menu_name %></p>
    <p><%= link_to "#{menu.menu_comments.count} 件のコメント", menu_path(menu.id) %></p>
    <div class="favorite-btn_<%= menu.id %>">
      <%= render 'favorites/favorite-btn', menu: menu %>
    </div>
  </div>
<% end %>
<%= paginate @menus %> <!--kaminariページング機能-->

