<div class="btn-group ml-3" role="group" aria-label="Basic example">
  <%= link_to "新規投稿", new_menu_path, class: "glyphicon glyphicon-pencil btn btn-success fas fa-plus-circle btn-lg" %>
  <%= link_to "みんなの献立", search_path, class: "glyphicon glyphicon-pencil btn btn-secondary fas fa-comment-dots btn-lg" %>
  <%= link_to "いいねした投稿", user_likes_path(current_user.id), class: "glyphicon glyphicon-pencil btn btn-danger fas fa-heart btn-lg" %>
</div>
<h2 class="mt-4 mb-5 head-line title_h2 text-center"><%= current_user.name %>　の投稿一覧</h2>
<div class="card-list-container py-5">
  <% @menus.each do |menu| %>
    <div class="card w-50 mx-auto mt-5 shadow-lg">
      <%= link_to menu_path(menu.id) do %>
        <%= attachment_image_tag menu, :image, class:"card-img-top"; %>
      <% end %>
      <div class="card-body">
        <div class="row">
          <div class="col-10">
            <p class="card-title">献立名：<%= menu.menu_name %></p>
            <p class="card-text">本文：<%= menu.body %></p>
            <p class="card-text">推定摂取カロリー：<%= menu.estimation_ingestion_cal %>kcal</p>
            <span><i class="fas fa-user"></i> ユーザー名 <%= menu.user.name %> ｜ </span>
            <span><%= link_to "#{menu.menu_comments.count} 件のコメント", menu_path(menu.id), class:"text-dark" %> ｜ </span>
            <span class="favorite-btn_<%= menu.id %>">
              <%= render 'favorites/favorite-btn', menu: menu %>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="container">
  <%= paginate @menus %> <!--kaminariページング機能-->
</div>