<div class = "container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="mt-4 mb-5 head-line title_h2 fas fa-plus-circle">新規投稿</h2>
      <%= form_with model:@menu, local:true do |f| %>
      
        <div class="form-group col-md-12">
          <%= f.label :献立画像, class: "col-md-4 control-label" %>
          <%= f.attachment_field :image, autofocus: true, autocomplete: "image", class: "col-md-4" %>
        </div>
        
        <div class="form-group col-md-12">
          <%= f.label :献立名, class: "col-md-4 control-label" %>
          <%= f.text_field :menu_name, autofocus: true, autocomplete: "menu_name", class: "col-md-4", placeholder: '夏野菜カレー' %>
        </div>
        
        <div class="form-group col-md-12">
          <%= f.label :本文, class: "col-md-4 control-label" %>
          <%= f.text_area :body, autofocus: true, autocomplete: "body", class: "col-md-4", placeholder: 'レシピや味など伝えたいことがあれば！' %>
        </div>
        
        <div class="form-group col-md-12">
          <%= f.label :推定摂取カロリー, class: "col-md-4 control-label" %>
          <%= f.number_field :estimation_ingestion_cal, autofocus: true, autocomplete: "estimation_ingestion_cal", class: "col-md-4", placeholder: '500kcal' %> kcal
        </div>

        <div class="action mt-5">
          <%= f.submit "新規投稿", class: "btn btn-success mr-3" %>
        </div>
      <% end %>
      <div class="text-center">
        <h4 class="mt-5 mb-5 head-line title_h4 fas fa-utensils">
          <%= link_to "投稿一覧", menus_path %>
        </h4>
      </div>
    </div>
  </div>
</div>