<h2>投稿詳細</h2>
<div>
  <p>ユーザー名：<%= @menu.user.name %></p>
  <%= attachment_image_tag(@menu, :image, size: "200x200") %><br>
  <p>本文：<%= @menu.body %></p>
  <p>
    推定摂取カロリー：<em>（<%= @menu.estimation_ingestion_cal %> kcal）</em>
  </p>
  <p>献立名：<%= @menu.menu_name %></p>
   <p>投稿日時：<%= @menu.created_at.strftime('%Y/%m/%d') %></p>
</div>
<% if @menu.user == current_user %>
  <%= link_to "投稿を編集する", edit_menu_path %>
  <%= link_to "投稿を削除する", menu_path(@menu), method: :delete %>
<% end %>
<%= link_to "投稿一覧", menus_path %>