<h2>マイページ</h2>
<h3>登録情報</h3>
<% if @user == current_user %>
  <%= link_to "マイページを編集する", edit_user_path(@user) %>
  <%= link_to "いいねした投稿", user_likes_path(@user) %>
<% end %>
<table>
  <tbody>
    <tr>
      <td>ニックネーム：</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>
        <%= link_to user_followings_path(@user) do %>
          フォロー：<%= @user.followings.count %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to user_followers_path(@user) do %>
          フォロワー：<%= @user.followers.count %>
        <% end %>
      </td>
    </tr>
    <% if @user == current_user %>
      <tr>
        <td>生年月日：</td>
        <td><%= current_user.birthdate %></td>
      </tr>
      <tr>
        <td>電話番号：</td>
        <td><%= current_user.phone_number %></td>
      </tr>
    <% else %
      <%= render 'relationships/follow_btn', user: @user %>
    <% end %>
  </tbody>
</table>
<% if @user == current_user %>
  <%= link_to "BODY_STATUS", body_statuses_path %>
  <%= link_to "投稿一覧", menus_path %>
<% end %>