<div class = "container">
  <div class="row text-center">
    <div class="col-md-6 offset-3">
      <h2 class="mt-4 mb-5 head-line title_h2 fas fa-swimmer">BODY_STATUS</h2>
      <% if @body_status.present? %>
        <table class="table table-striped">
          <tbody>
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tr class="text-left">
              <th scope="row">最新入力日時：</th>
              <td><%= @body_status.record_at %></td>
            </tr>
            <tr class="text-left">
              <th scope="row">体重：</th>
              <td><%= @body_status.weight %> kg</td>
            </tr>
            <tr class="text-left">
              <th scope="row">摂取カロリー：</th>
              <td><%= @body_status.ingestion_cal %> kcal</td>
            </tr>
            <tr class="text-left">
              <th scope="row">消費カロリー：</th>
              <td><%= @body_status.consumed_cal %> kcal</td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <div class="d-flex mt-3 mb-5">
        <!--↓一日に一回しか新規で登録できず、一度書くと更新しかできないようになります-->
        <% if @body_status && @now == @body_status.record_at %>
          <%= link_to "本日のSTATUSを更新する", edit_body_status_path(@body_status), class: "glyphicon glyphicon-pencil btn btn-success fas fa-plus-circle btn-lg" %>
        <% else %>
          <%= link_to "本日のSTATUSを入力する", new_body_status_path, class: "glyphicon glyphicon-pencil btn btn-primary fas fa-plus-circle btn-lg" %>
        <% end %>
        <%= link_to "カレンダー", calendars_path, class: "glyphicon glyphicon-pencil btn btn-secondary fas fa-calendar-alt btn-lg ml-5" %>
      </div>
      <h2 class="mt-5 head-line title_h2 text-center fas fa-chart-line">グラフ</h2>
    </div>
  </div>
  <div class="mt-5">
    <!--↓先月と次月を表示するための記述-->
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <%= link_to body_statuses_path(month: @last_month), class: "page-link" do %>
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          <% end %>
        </li>
        <li class="page-item page-link"><%= @month %></li>
        <li class="page-item">
          <%= link_to body_statuses_path(month: @next_month), class: "page-link" do %>
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          <% end %>
        </li>
      </ul>
    </nav>
    <!--↓グラフ表示-->
    <div class="mt-2 mb-5">
      <h3>体重の推移</h3>
      <%= line_chart @weight,width: "1000px",height: "400px",xtitle: "日付", ytitle: "体重",min: 0, max: 150, curve: false %>
    </div>
    <div class="mt-5 mb-5">
      <h3>消費カロリーと摂取カロリーの推移</h3>
      <%= line_chart @chart,width: "1000px",height: "400px",xtitle: "日付", ytitle: "消費カロリー&摂取カロリー",min: 0, max: 5000, curve: false %>
    </div>
  </div>
</div>